*.a
*.la
*.lo
*.log
*.m4
*.o
*.stamp
*.swp
*.tar.xz
*.trs
*~

/aclocal.m4
/build/
/config.log
/config.status
/configure
.deps/
.dirstamp
/Makefile
/Makefile.in

/boot.so
/bootx64.efi
/efi-disk.img
/stub.so
/stubx64.efi
